main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    background-color: cornsilk;
}

.product {
    background-color: rgb(255, 208, 233);
}
.product_img {
    width: 200px;
    height: 200px;
}
.product_price {
    background-color: aquamarine;
    box-shadow: 30px 5px 5px aquamarine;
}