<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
</head>
<body>
    <header>
        <div class="header_l">
            <div id="header_site_icon">
               <img src="{{ MEDIA_URL }}Icons/1488.jpg" alt="Image" id="site_icon" class="icon"> 
            </div>
            <div id="site_name">
                <p id="site_name_p">Fruit Store</p>
            </div>
            
        </div>

        <div class="header_r">
            <img src="{{ MEDIA_URL }}Icons/1488.jpg" alt="Image" class="icon">
            <img src="{{ MEDIA_URL }}Icons/1488.jpg" alt="Image" class="icon">
            <img src="{{ MEDIA_URL }}Icons/1488.jpg" alt="Image" class="icon">
            <img src="{{ MEDIA_URL }}Icons/1488.jpg" alt="Image" class="icon">
        </div>
    </header>
    
    {% block content %}
    {% endblock content %}

</body>

<script src="{% static 'JS/base.js' %}"></script> 

</html>