<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
</head>
<body>
    <header>
        <div class="header_l">
            <div id="header_site_icon">
                <a href="{% url 'home'%}">
                    <img src="{{ MEDIA_URL }}Icons/pineapple.png" alt="Image" id="site_icon" class="icon"> 
                </a>
            </div>  
            <div id="site_name">
                <a id="site_name_p" href="{% url 'home' %}">Fruit Store</a>
            </div>
        </div>

        <div class="header_r">
            {% if user.is_authenticated %}
                <p>Hi, <b>{{ user.username }}</b>!</p>
                <form id="logout-form" action="{% url "logout" %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <a href="login">Log in</a>
            {% endif %}
            <img src="{{ MEDIA_URL }}Icons/viber.png" alt="Image" class="icon">
            <img src="{{ MEDIA_URL }}Icons/telegram.png" alt="Image" class="icon">
            <img src="{{ MEDIA_URL }}Icons/instagram.png" alt="Image" class="icon">
        </div>
    </header>
    
    {% block content %}
    {% endblock content %}

</body>

<script src="{% static 'JS/base.js' %}"></script> 

</html>